

<!-- <Outlet /> bir sayfanın dinmaik olarak yüklemesi için kullanılır. -->

<h1>Ana Layout</h1>

<span>
  {{title}}
  <!-- model binding süreci -->
</span>

<!-- onClick react (click) Angular Events Binding -->
<!-- className kavramı yok -->

<!-- angular default çalışma port 4200 -->

<button class="active" (click)="clickMe()">Tıkla</button>

<hr>

<a [routerLink]="['/attribute-directive']">Att Directive Sample</a>
&nbsp;
<a [routerLink]="['/structural-directive']">Structural Directive Sample</a>
<!-- routerLinkleri kullanabilmek için uygulama router module tanımı yapmak gerekiyor -->

<!-- Pipes -->
&nbsp;
<a [routerLink]="['/built-in-pipes']">Built-In Pipes</a>
&nbsp;
<a [routerLink]="['/service-sample']">Http Service</a>
&nbsp;
<a [routerLink]="['/service-sample-asyncpipe']">HTTP Service Async Pipe</a>
&nbsp;
<a [routerLink]="['/reactive-forms']">Reactive Forms</a>

<router-outlet />
